.site-main {
    & .block {
        & .content:has(aside) {
            display: grid;
            gap: 1rem;

            & .is-layout-constrained {
                &>:where(:not(.alignleft):not(.alignright):not(.alignfull)) {
                    max-width: 100%;
                }
            }

            & .sidebar {
                &>*:not(:last-child, .wp-block-heading) {
                    margin-bottom: 2rem;
                }

                & .wp-block-tag-cloud {
                    &:hover {
                        & a {
                            transition: color .3s ease;

                            &:not(:hover) {
                                color: var(--wp--preset--color--contrast-alpha-50);
                            }

                            &:hover {
                                color: light-dark(var(--wp--preset--color--contrast), var(--wp--preset--color--base));
                            }
                        }
                    }

                    & a {
                        &:focus-visible {
                            outline: none;
                            color: var(--wp--preset--color--focus);
                        }
                    }
                }

                & .wp-block-heading {
                    margin-bottom: 1rem;
                }

                & :is(ul, ol) {
                    padding-left: 0;
                    list-style: none;

                    &.wp-block-latest-comments {
                        margin-block-start: 1.2rem;
                    }

                    & li {
                        transition: color .3s ease;

                        & a:has(svg) {
                            display: flex;
                            align-items: center;
                            gap: .5rem;
                            height: 46px;
                            transition: background-color .3s ease;

                            &:hover {
                                color: light-dark(var(--wp--preset--color--contrast), var(--wp--preset--color--base));
                            }

                            &:focus-visible {
                                outline: none;
                                color: var(--wp--preset--color--focus);
                            }
                        }

                        & .latest-post__body {
                            display: grid;
                            grid-template-columns: auto 1fr;
                            grid-template-rows: 1fr auto;
                            gap: 0 1rem;
                            line-height: 1;
                            margin-bottom: 1rem;
                            transition: background-color .3s ease;

                            &:focus-visible {
                                outline: none;
                                color: var(--wp--preset--color--focus);
                            }

                            & .latest-post-thumbnail-wrapper {
                                grid-column: 1 / 2;
                                grid-row: 1 / 3;

                                & .wp-post-image {
                                    width: 100px;
                                    height: 70px;
                                    object-fit: cover;
                                }
                            }

                            & .wp-block-latest-posts__post-title {
                                align-self: end;
                                font-size: var(--wp--preset--font-size--large);
                                font-weight: 500;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                margin-bottom: .3rem;
                                mask-image: linear-gradient(to right, black 60%, transparent 100%);
                            }

                            & .latest-post-date {
                                font-size: var(--wp--preset--font-size--small);
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                mask-image: linear-gradient(to right, black 60%, transparent 100%);
                            }

                            &:hover {
                                background-color: var(--wp--preset--color--tertiary);
                            }
                        }
                    }

                    &:hover {
                        &>li:not(:hover) {
                            color: var(--wp--preset--color--contrast-alpha-50);
                        }
                    }
                }
            }
        }
    }
}

@media (width >=1024px) {
    .site-main {
        & .block {
            & .content:has(aside) {
                gap: 1.5rem !important;
                grid-template-columns: 1fr clamp(306.67px, 280px + 2.6vw, 317.5px);
            }
        }
    }
}