.site-main {
    & .block {
        & .content:has(aside) {
            display: grid;
            gap: 1rem;

            & .is-layout-constrained {
                &>:where(:not(.alignleft):not(.alignright):not(.alignfull)) {
                    max-width: 100%;
                }
            }

            & .sidebar {
                &>*:not(:last-child, .wp-block-heading) {
                    margin-bottom: 2rem;
                }

                & .wp-block-tag-cloud {
                    &:hover {
                        & a {
                            transition: color .3s ease;

                            &:not(:hover) {
                                color: var(--wp--preset--color--contrast-alpha-50);
                            }

                            &:hover {
                                color: light-dark(var(--wp--preset--color--contrast), var(--wp--preset--color--base));
                            }
                        }
                    }

                    & a {
                        &:focus-visible {
                            outline: none;
                            color: var(--wp--preset--color--focus);
                        }
                    }
                }

                & .wp-block-heading {
                    margin-bottom: 1rem;
                }

                & :is(ul, ol) {
                    padding-left: 0;
                    list-style: none;

                    &.wp-block-latest-comments {
                        margin-block-start: 1.2rem;
                    }

                    & li {
                        transition: color .3s ease;

                        & a:has(svg) {
                            display: flex;
                            align-items: center;
                            gap: .5rem;
                            height: 46px;
                            transition: background-color .3s ease;

                            &:hover {
                                color: light-dark(var(--wp--preset--color--contrast), var(--wp--preset--color--base));
                            }

                            &:focus-visible {
                                outline: none;
                                color: var(--wp--preset--color--focus);
                            }
                        }

                        & .latest-post__body {
                            display: grid;
                            grid-template-columns: auto 1fr;
                            grid-template-rows: 1fr auto;
                            gap: 0 1rem;
                            line-height: 1;
                            margin-bottom: 1rem;
                            transition: background-color .3s ease;

                            &:focus-visible {
                                outline: none;
                                color: var(--wp--preset--color--focus);
                            }

                            & .latest-post-thumbnail-wrapper {
                                grid-column: 1 / 2;
                                grid-row: 1 / 3;

                                & .wp-post-image {
                                    width: 100px;
                                    height: 70px;
                                    object-fit: cover;
                                }
                            }

                            & .wp-block-latest-posts__post-title {
                                align-self: end;
                                font-size: var(--wp--preset--font-size--large);
                                font-weight: 500;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                margin-bottom: .3rem;
                                mask-image: linear-gradient(to right, black 60%, transparent 100%);
                            }

                            & .latest-post-date {
                                font-size: var(--wp--preset--font-size--small);
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                mask-image: linear-gradient(to right, black 60%, transparent 100%);
                            }

                            &:hover {
                                background-color: var(--wp--preset--color--tertiary);
                            }
                        }
                    }

                    &:hover {
                        &>li:not(:hover) {
                            color: var(--wp--preset--color--contrast-alpha-50);
                        }
                    }
                }
            }
        }

        &:has(.properties--filter) {
            gap: 1.5rem;

            & .properties--filter {
                & .property-filter-form {
                    display: grid;
                    gap: 1.5rem;

                    & .menu-flex {
                        position: relative;
                        height: 54px;
                        gap: .2rem;
                        background-color: light-dark(var(--wp--preset--color--tertiary), var(--wp--preset--color--tertiary-night));
                        border: none;
                        overflow: hidden;

                        & :is(.menu-flex--type, .menu-flex--operation) {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            gap: .2rem;
                            padding: .5rem;
                            overflow-x: scroll;
                            padding-right: 1rem;

                            & .filter-property {
                                position: relative;

                                &:hover {

                                    & [type="checkbox"]:not(:checked)+label,
                                    & [type="checkbox"]:checked+label {
                                        color: light-dark(var(--wp--preset--color--contrast), var(--wp--preset--color--base));
                                    }
                                }

                                & [type="checkbox"]:not(:checked)+label,
                                & [type="checkbox"]:checked+label {
                                    padding: .2rem;
                                    height: 100%;
                                    z-index: 0;
                                    color: light-dark(#00000078, #ffffff78);
                                    font-size: var(--wp--preset--font-size--small);
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    gap: .5rem;
                                    transition: color .3s ease;

                                    & svg {
                                        position: relative;
                                        bottom: .2rem;
                                    }
                                }

                                & [type="checkbox"]:not(:checked)+label,
                                & [type="checkbox"]:checked+label {
                                    padding: 0 1rem;
                                    height: 36px;
                                    text-wrap: nowrap;
                                }

                                & [type="checkbox"]:checked+label {
                                    color: light-dark(var(--wp--preset--color--contrast), var(--wp--preset--color--base));
                                }

                                & [type="checkbox"]:not(:checked)+label:before,
                                & [type="checkbox"]:checked+label:before {
                                    content: none;
                                }

                                & [type="checkbox"]:not(:checked)+label:after,
                                & [type="checkbox"]:checked+label:after {
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    z-index: -1;
                                }

                                & [type="checkbox"]:checked+label:after {
                                    background-color: light-dark(var(--wp--preset--color--base), var(--wp--preset--color--base-night));
                                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                                }
                            }
                        }

                        &::after {
                            position: absolute;
                            content: '';
                            bottom: 0;
                            right: 0;
                            width: 20%;
                            height: 100%;
                            background: linear-gradient(to left, light-dark(var(--wp--preset--color--tertiary), var(--wp--preset--color--tertiary-night)) 0%, transparent 100%);
                            z-index: 1;
                        }
                    }

                    & .filter-navigation.menu {
                        display: grid;
                        gap: 1rem;

                        &>.menu-item-has-children {
                            &>.button-for-submenu {
                                width: 100%;
                                color: light-dark(var(--wp--preset--color--contrast), var(--wp--preset--color--contrast));

                                & svg {
                                    transition: transform .3s ease-in-out;
                                }

                                &.rotate {
                                    & svg {
                                        transform: rotate(180deg);
                                    }
                                }
                            }

                            &>.sub-menu {
                                /* margin-top: 1rem; */
                                padding: 10px;
                                /* border: 1px solid light-dark(var(--wp--preset--color--accent-6), var(--wp--preset--color--accent-6)); */
                                border: none;
                                background-color: light-dark(var(--wp--preset--color--tertiary), var(--wp--preset--color--tertiary-night));
                                max-height: 10000px;
                                overflow: hidden;

                                &.close {
                                    max-height: 0;
                                    padding: 0 10px;
                                    border-color: transparent;
                                }

                                &>.menu-item-has-children {
                                    & .wrapper-for-title {
                                        width: 100%;
                                        padding: 0;
                                        padding-right: 7px;

                                        & .checkbox-filter-properties {
                                            &:hover {
                                                background-color: transparent;
                                            }
                                        }

                                        & .button-for-submenu {
                                            display: grid;
                                            width: 13px;
                                            height: 13px;
                                            place-content: center;
                                            background-color: transparent;
                                            border: none;
                                            transition: transform .3s ease-in-out;

                                            &.rotate {
                                                transform: rotate(45deg);
                                            }
                                        }
                                    }

                                    &>.sub-menu {
                                        padding-left: 1rem;
                                    }
                                }
                            }

                            &.state {
                                &>.sub-menu {
                                    & li {
                                        & .sub-menu {
                                            padding: 0;
                                            padding-left: 1rem;
                                            max-height: 0;
                                            overflow: hidden;

                                            &.open {
                                                padding: 10px 0;
                                                padding-left: 1rem;
                                                max-height: 10000px;
                                            }
                                        }
                                    }
                                }
                            }

                            &:is(.price, .size) {
                                & .sub-menu {
                                    & li {
                                        display: grid;
                                        grid-template-columns: 1fr 1fr;
                                        gap: 0 .5rem;

                                        & label {
                                            grid-column: 1 / -1;
                                        }

                                        &:not(:last-child) {
                                            margin-bottom: 1rem;
                                        }

                                        & :is(.price-range, .construction-range, .land-range) {
                                            margin-top: 1rem;
                                            display: grid;
                                            grid-column: 1 / -1;
                                        }
                                    }
                                }
                            }

                            &.rooms {
                                & .backdrop {
                                    display: none;
                                }

                                & .sub-menu {
                                    display: grid !important;
                                    grid-template-columns: 1fr 1fr;
                                    gap: 0 .5rem;
                                }
                            }
                        }
                    }

                    & .filter-buttons {
                        display: grid;
                        grid-template-columns: auto 1fr;
                        gap: 2.5rem;

                        & .btn.primary {
                            justify-content: center;
                        }
                    }
                }

                & ul {
                    padding-left: 0;
                    list-style: none;
                    font-size: var(--wp--preset--font-size--small);

                    & li {
                        & p.checkbox-filter-properties {
                            position: relative;
                            display: flex;
                            align-items: center;
                            height: 27px;
                            padding: 0 10px;
                            transition: background-color .2s ease-in-out;

                            &:hover {
                                background-color: light-dark(var(--wp--preset--color--primary-alpha-50), var(--wp--preset--color--primary-night));
                            }
                        }

                        & .number-input-wrapper {
                            position: relative;

                            & input[type=number] {
                                padding: 0 2.5rem !important;
                                text-align: center;
                                font-size: var(--wp--preset--font-size--small) !important;

                                &::placeholder {
                                    font-size: var(--wp--preset--font-size--small) !important;
                                }
                            }

                            button {
                                display: grid;
                                place-content: center;
                                position: absolute;
                                top: 3px;
                                width: 2rem;
                                height: calc(100% - 6px);
                                border: none;
                                background-color: light-dark(var(--wp--preset--color--tertiary), var(--wp--preset--color--tertiary-night));
                                transition: transform.3s ease;

                                &:active {
                                    transform: translateY(2px);
                                }

                                &:focus-visible {
                                    outline: none;
                                    box-shadow: 0 0 0 .2rem #ff44007e;
                                }
                            }

                            button:nth-child(1) {
                                left: 3px;
                            }

                            button:nth-child(3) {
                                right: 3px;
                            }
                        }

                        & .sub-menu {
                            & li {
                                & p.checkbox-filter-properties {

                                    & input[type="checkbox"]:not(:checked)+label:after,
                                    & input[type="checkbox"]:checked+label:after {
                                        top: 0.48em;
                                    }
                                }

                                & .sub-menu {
                                    & li {
                                        & p.checkbox-filter-properties {

                                            & input[type="checkbox"]:not(:checked)+label:after,
                                            & input[type="checkbox"]:checked+label:after {
                                                top: 0.55em;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                input[type=number] {
                    height: 36px !important;
                    background-color: light-dark(var(--wp--preset--color--base), var(--wp--preset--color--base-night)) !important;
                    font-size: var(--wp--preset--font-size--small) !important;

                    &::placeholder {
                        font-size: var(--wp--preset--font-size--small) !important;
                    }
                }
            }
        }
    }
}

@media (width >=1024px) {
    .site-main {
        & .block {
            & .content:has(aside) {
                gap: 3rem !important;
                grid-template-columns: 1fr clamp(306.67px, 280px + 2.6vw, 317.5px);
            }
        }
    }
}