.site-main {
    & .type-property {
        & header.block.property--heading {
            & .content {
                display: grid;
                gap: 3rem;
                padding: 3rem 0;

                & ul {
                    padding-left: 0;
                    list-style: none;

                    & li {
                        display: flex;
                        gap: .5rem;
                        align-items: baseline;
                        padding: .5rem 0;
                    }
                }

                & .property-data--wrapper {
                    display: grid;
                    grid-template-rows: auto auto auto 1fr;

                    & .property--operation {
                        margin-right: auto;
                    }

                    & .property--price {
                        margin-top: 1rem;
                        margin-bottom: 2rem;
                    }

                    & .property--metadata {
                        align-self: end;

                        & .property--map {
                            border: 1px solid var(--wp--preset--color--accent-6);
                            border-radius: 1rem;
                            overflow: hidden;

                            & iframe {
                                display: block;
                                height: 100%;
                            }
                        }
                    }
                }

                & .is-layout-constrained {
                    & .post-gallery-wrapper {
                        max-width: 100%;
                        margin: 0;
                    }
                }
            }
        }

        & .block.property--details {
            background-color: light-dark(var(--wp--preset--color--tertiary), var(--wp--preset--color--tertiary-night));

            & .content:has(.title-section) {
                padding-top: 3rem;
            }

            & .content.details {
                display: grid;
                gap: 3rem;
                padding: 3rem 0;

                & .property--metadata {
                    display: grid;

                    & .property--metadata--list {
                        padding-left: 0;
                        list-style: none;
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                        gap: 1rem;
                        align-content: baseline;

                        & li {
                            background-color: light-dark(var(--wp--preset--color--base), var(--wp--preset--color--base-night));
                            padding: .5rem;
                            border-radius: .5rem;
                            position: relative;
                            text-align: right;
                            height: 5rem;
                            display: grid;
                            place-content: end;
                            font-size: var(--wp--preset--font-size--small);
                            font-weight: 500;

                            & span {
                                position: absolute;
                                top: .5rem;
                                left: .5rem;
                                display: grid;
                                place-items: center;
                                width: 2.5rem;
                                height: 2.5rem;
                                border-radius: 50%;
                                background-color: light-dark(var(--wp--preset--color--tertiary), var(--wp--preset--color--tertiary-night));
                            }
                        }
                    }
                }

                & .is-layout-constrained {
                    overflow: hidden;
                }
            }
        }
    }
}

@media (width < 600px) {
    .site-main {
        & .type-property {
            & header.block.property--heading {
                & .content {
                    & .property-data--wrapper {
                        & .property--metadata {
                            & .property--map {
                                aspect-ratio: 16 / 9;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (width >=600px) {
    .site-main {
        & .type-property {
            & header.block.property--heading {
                & .content {
                    & .property-data--wrapper {
                        & .property--metadata {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            gap: 3rem;
                        }
                    }
                }
            }
        }
    }
}

@media (width >=1024px) {
    .site-main {
        & .type-property {
            & header.block.property--heading {
                & .content {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 2rem;
                    align-items: start;

                    & .property-data--wrapper {
                        height: 100%;
                    }

                    & .is-layout-constrained {
                        & .post-gallery-wrapper {
                            margin-block-start: 0;
                            margin-block-end: 0;
                        }
                    }
                }
            }

            & .block.property--details {
                & .content.details {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
}

body.is-chromium {
    .site-main {
        & .type-property {
            & header.block.property--heading {
                & .content {
                    & .property-data--wrapper {
                        & .property--metadata {
                            & .property--map {
                                border-radius: 2rem;
                                corner-shape: squircle;
                            }
                        }
                    }
                }
            }

            & .block.property--details {
                & .content.details {
                    & .property--metadata {
                        & .property--metadata--list {
                            & li {
                                border-radius: 1rem;
                                corner-shape: squircle;
                            }
                        }
                    }
                }
            }

            & .block.posts--body.container--related-posts {
                background-color: light-dark(var(--wp--preset--color--base), var(--wp--preset--color--base-night));

                &.container--related-posts {
                    & .content {
                        &.slideshow-wrapper {
                            & .slideshow {
                                & .post:not(:has(header.block.entry-header)) {
                                    & .post-body {
                                        & .post-body__footer {
                                            &::after {
                                                background: linear-gradient(to left, light-dark(var(--wp--preset--color--base), var(--wp--preset--color--base-night)) 0%, transparent 100%);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}